<% include partials/header %>

<body>
<div class=container>
 <h2>Original URL: <%= mySearchTerm %></h2>
 <h2>Shortened URL: <a href="http://<%= encriptedUrl %>"><%= encriptedUrl %></a> </h2>

 <!-- <form action="/lenny" method="get">
   <input type="text" name="food" placeholder="Fav food">
   <input type="submit" value="save food">
 </form> -->
 <ul class="list-group">


</ul>
 </div>
 </body>

 <% include partials/footer %>
